INMUEBLES_API_KEY=
INMUEBLES_API_BASE_URL=https://vg.g210512.com/api/v1

NEXT_PUBLIC_API_MAPBOX=
NEXT_PUBLIC_MAPBOX_STYLE_ID=alfgow/cmgnbz7aw000u01ry7bnx7rzp
NEXT_PUBLIC_MAPBOX_ADMIN_STYLE_ID=alfgow/cmgnbz7aw000u01ry7bnx7rzp
